@model IReadOnlyList<DashboardRowModel>

<section class="alive-table">
    @foreach (var row in Model)
    {
        <div class="live-id">@row.LifeId</div>
        <div class="end-of-life">@row.EndOfLife</div>
    }
</section>