@model IReadOnlyList<DashboardRowViewModel>

<section class="alive-table" id="lives-table">
    @{ Head(); }
    @foreach (var row in Model)
    {
        <div class="row">
            <div class="live-id">@row.LifeId.ToString("N")</div>
            <div class="properties" data-properties>
                @foreach (var (key, value) in row.Properties)
                {
                    <div class="property">
                        <span class="key">@key</span>: <span class="value">@value</span>
                    </div>
                }
            </div>
            <div class="end-of-life">@row.EndOfLife</div>
        </div>
    }
    @{ Head(); }
</section>

@functions{

    void Head()
    {
        <div class="row head">
            <div>Life ID</div>
            <div>Properties</div>
            <div>End of life</div>
        </div>
    }

}