@model DashboardForm

<form asp-controller="Dashboard" asp-action="Index" method="get" asp-route-widgetId="@Model.WidgetId">
    <input asp-for="Page"/>
    <button type="submit">Submit</button>
</form>