@model DashboardForm

<div class="form-wrapper">
    <form asp-controller="Dashboard" asp-action="Index" method="get" asp-route-widgetId="@Model.WidgetId" class="life-form">
        <label asp-for="Page">Page</label>
        <input asp-for="Page"/>
        <button type="submit">Show</button>
    </form>
</div>