@page
@using LifeCounter.Common.Extensions
@model Demo

@section Scripts
{
    @this.Js("demo")
    <script defer src="/widget/script.js?widgetId=@Model.DemoWidgetId"></script>
    <script>
        window.LifeCounterConfig = {
            props: {
    
            },
            onLoaded: function(e) {
              window.DemoCallback(e);
            }
        }
    </script>
}

@section Styles {
    @this.Css("demo")
}

<div class="demo-wrapper">
    <div class="demo">
        <div class="demo__number-container">
            <input required type="number" id="number-input" placeholder="Enter your number"/>
        </div>
        <div class="demo__monitor">
            <iframe data-monitor-src="/monitor/dashboard/@Model.DemoWidgetId?page=@Url.Page(nameof(Demo))&ShowForm=false"></iframe>
        </div>
    </div>
</div>