.demo__user-number-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.demo-monitor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: fit-content;
    
    & iframe {
        border: 0;
        height: 100%;
        width: 100%;
    }
}