
.public-layout {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.public-header {
    
}

.public-footer {
    
}

@import "../../common/common.scss";
@import "content";