
.public-routes {
    min-height: max(30%, 190px);
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    
    &__block {
        background: #ffffff;
        padding: 1em 2em 3em;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    &__buttons-wrapper {
        display: flex;
        justify-content: center;
        column-gap: 3em;
    }
    
    &__title {
        
    }
}