@using LifeCounter.Common.Extensions

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>LifeCounter.Site.Admin</title>
    @this.Css("admin")
    <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
</head>
<body class="admin-layout">
<header class="admin-header">
    <partial name="Header"/>
</header>

<aside class="admin-sidebar">
    <partial name="Sidebar"/>
</aside>

<main class="admin-content">
    @RenderBody()
</main>

<footer class="admin-footer">
    <partial name="Footer"/>
</footer>

@await RenderSectionAsync("Scripts", required: false)
</body>
</html>