* {
    box-sizing: border-box;
}

.container {
    display: flex;
    justify-content: center;
}

.alive-table {
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 10px;
}

.alive-table div { 
    padding: 3px 6px;
}

.alive-table .live-id {
    
}

.alive-table .end-of-life {
    
}