@using LifeCounter.Common.Extensions
@{
    Layout = "_GeneralLayout";
}

@section Styles
{
    @this.Css("index")
    @await RenderSectionAsync("Styles", required: false)
}

@section Scripts
{
    @await RenderSectionAsync("Scripts", required: false)
}

<main class="public-content">
    @RenderBody()
</main>