.site-header {
    height: 3em;
    border-bottom: 1px solid var(--dark-color);
    background: var(--dark-color);
    display: flex;
    align-items: center;
    padding: 0 1em;
    color: #ffffff;

    
    &__right {
        margin-left: auto;
        display: flex;
        gap: 0.6em;
        font-size: 24px;
    }
}

.site-header__logo {
    font-size: 32px;
    color: #ffffff;
    text-decoration: none;
    
    &:visited {
        color: #ffffff;
        text-decoration: none;
    }
    
    &::before {
        color: #ffffff;
        content: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 -2 24 24' fill='none' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-users'%3E%3Cpath d='M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2'%3E%3C/path%3E%3Ccircle cx='9' cy='7' r='4'%3E%3C/circle%3E%3Cpath d='M23 21v-2a4 4 0 0 0-3-3.87'%3E%3C/path%3E%3Cpath d='M16 3.13a4 4 0 0 1 0 7.75'%3E%3C/path%3E%3C/svg%3E");
        margin-right: 0.08em;
    }
}

.site-header__right .nav__link {
    color: #FFFFFF;
    cursor: pointer;
    
    &:visited {
        color: #FFFFFF;
    }
}