@page
@using LifeCounter.Site.Areas.Identity.Pages.Models
@model LifeCounter.Site.Areas.Identity.Pages.Account.Login

@{
@* ReSharper disable once ConvertToLocalFunction *@
    Func<object, object> hintText =
        @<text>
            A login link will be sent to the Email. Do not have an account?
            <br/>
            <a asp-area="Identity" asp-page="/Account/Register">Register</a>
         </text>;
}

<partial
    name="_EmailAuthLinkRequestForm"
    model="@(new EmailAuthLinkRequestFormViewModel {
               Form = Model.Form!,
               Title = "Log in",
               HintText = hintText,
               SendResult = Model.SendResult
           })"/>