.admin-layout {
    display: grid;
    grid-template-columns: 1fr 6fr;
    grid-template-rows: auto 1fr auto;
    min-height: 100%;
}

@import "../../common/common.scss";
@import "content";
@import "header";
@import "footer";
@import "sidebar";
@import "widget-form";