.admin-sidebar {
    border-right: 1px solid var(--dark-color);
    padding: 1em;
    background: var(--light-color);
}

.admin-navigation {
    display: flex;
    flex-direction: column;
    gap: 1em;
}