.admin-sidebar {
    border-right: 1px solid var(--dark-color);
    padding: 1em;
    background: var(--light-color);
}

.admin-navigation {
    display: flex;
    flex-direction: column;
    gap: 1.4em;
    align-items: center;
    padding-top: 4em;
    
    & .button {
        position: relative;
    }
}

.button_create-widget::after {
    content: '+';
    position: absolute;
    top: -0.4em;
}