.widget-form {
    display: grid;
    grid-template-columns: max-content 20em;
    padding: 1.2em;
    gap: 0.2em;
    align-items: center;
    font-size: 28px;
    border-radius: 1em;

    &__buttons {
        display: flex;
        column-gap: 1em;
        grid-column: span 2;
        justify-self: center;
        padding-top: 0.6em;
    }

    & label {
        padding: 0.2em .4em 0.2em 0.2em;
    }

    & input, & select {
        font-size: 0.8em;
        border-radius: 0.4em;
        border: 0;
        padding: 4px 8px;
        color: var(--dark-color);
    }

    & .field-validation-error {
        grid-column: span 2;
        justify-self: end;
        font-size: 0.6em;
        margin-top: -0.4em;
    }
}

.widget-form input[type="checkbox"] {
    appearance: none;
    margin: 0;
    font: inherit;
    width: 1.15em;
    height: 1.15em;
    border: 0.15em solid #ffffff;
    border-radius: 0.3em;
    display: grid;
    place-content: center;
    background-color: #ffffff;

    &::before {
        content: "";
        width: 1em;
        height: 1em;
    }
    
    &:checked::before {
        content: "\2713";
        margin-bottom: 0.4em;
        margin-left: 0.2em;
        font-weight: bolder;
        font-size: 1.1em;
        color: var(--dark-color);
    }
}