.button {
    background: var(--second-color);
    color: #ffffff;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    text-align: center;
    border: 0;
    cursor: pointer;

    &:hover {
        box-shadow: 0 4px 10px var(--second-color);
    }

    &_nav {
        text-decoration: underline;
    }

    &_m {
        width: 8em;
        height: 2.2em;
        line-height: 2.2em;
        border-radius: 0.3em;
        font-size: 24px;
    }
    
    &-light {
        background: var(--first-color);
        color: var(--dark-color);
    }

    &-light:hover {
        box-shadow: 0 4px 10px var(--dark-color);
    }
}

.nav__link-btn {
    padding: 0.5em 1em;
    background: var(--first-color);
    text-align: center;
    display: block;
}

.nav__btn {
    border: 0;
    font-size: 16px;
}