
.form-card {
    display: grid;
    height: 75%;
    color: #ffffff;
    
    &__form-wrapper {
        margin: auto;
        background: var(--second-color);
        border-radius: 1em;
        box-shadow: 0 5px 15px rgba(146, 154, 171, 0.75);
    }

    & input, & select { 
        font-family: 'Raleway', sans-serif;
    }

    & input:focus, & select:focus {
        outline: none;
    }
    
    & input[disabled] {
        background: var(--light-color);
        color: var(--second-color);
    }

    & .field-validation-valid { 
        display: none;
    }

    & input.input-validation-error {
        border: 0.1em solid var(--red-color);
        background: var(--red-color-light);
    }

    & .field-validation-error {
        color: var(--red-color);
        font-weight: 600;
    }
}