@using Microsoft.AspNetCore.Mvc.TagHelpers

<div>
    <a class="admin-header__logo" href="/">
        LifeCounter
    </a>
</div>

<div class="admin-header__right">
    <div class="admin-header__user">
        @User.Identity.Name
    </div>
</div>

