@using Index = LifeCounter.Site.Areas.Admin.Pages.Widgets.Index
@using LifeCounter.Site.Areas.Admin.Pages.Widgets

<nav class="admin-navigation">
    <a asp-page="@nameof(Index)" class="button button_nav button_m">Widgets list</a>
    <a asp-page="@nameof(Item)" 
       asp-route-widgetId="@null"
       class="button button_nav button_m button_create-widget">Create widget</a>
</nav>