@using Index = LifeCounter.Site.Areas.Admin.Pages.Widgets.Index
@using LifeCounter.Site.Areas.Admin.Pages.Widgets

<nav class="admin-navigation">
    <a asp-page="@nameof(Index)" class="nav__link-btn">Widgets list</a>
    <a asp-page="@nameof(Item)" asp-route-widgetId="@null" class="nav__link-btn">Create widget</a>
</nav>