@model LifeCounter.Site.Models.AuthLinkEmailViewModel

<!DOCTYPE html>
<html>
<head>
</head>
<body>
<h2>Log in to LifeCounter</h2>
<div>
    Click the following link to log in: <a href="@Model.Url">link</a>
</div>
</body>
</html>