@model LifeCounter.Site.Models.AuthLinkEmailViewModel

<!DOCTYPE html>
<html>
<head>
</head>
<body>
<h2>Confirm registration on LifeCounter</h2>
<div>
    Click the following link to confirm registration and log in: <a href="@Model.Url">@Model.Url</a>
</div>
</body>
</html>