@model LifeCounter.Site.Areas.Identity.Pages.Models.EmailAuthLinkRequestFormViewModel

<form-card>
    <form method="post" asp-antiforgery="true" class="auth-link-form">
        <h2 class="auth-link-form__title">@Model.Title</h2>
        <input asp-for="Form.Email" placeholder="Email" class="auth-link-form__email"/>
        @Html.ValidationMessageFor(e => e.Form.Email)
        <div class="auth-link-form__buttons">
            <button class="button button_m button-light" type="submit">Send</button>
        </div>
        <p class="auth-link-form__hint">
            @Model.HintText(null)
        </p>
    </form>
</form-card>