@import '../../src/dashboard/table.css';
@import '../../src/dashboard/inputs.css';
@import '../../src/dashboard/form.css';

* {
    box-sizing: border-box;
}

:root {
    --light-color: #F7F7F7;
    --dark-color: #393E46;
    --first-color: #EEEEEE;
    --second-color: #929AAB;
    --font-family: monospace;
}

body {
    font-family: sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    font-family: var(--font-family);
    font-size: 1.3em;
    gap: 0.5em;
}

.form-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.8em;
    flex-direction: column;
    row-gap: 0.5em;
}