
.widget-form {
    display: grid;
    grid-template-columns: max-content 20em auto;
    padding: 0.2em;
    gap: 0.2em;
    
    &__buttons {
        display: flex;
        column-gap: 0.2em;
        grid-column: span 3;
    }
    
    & label {
        padding: 0.2em;
    }
}