@using Microsoft.AspNetCore.Mvc.TagHelpers

<div>
    <a class="site-header__logo" href="/">
        LifeCounter
    </a>
</div>

<div class="site-header__right">
    <partial name="_LoginPartial"/>
</div>

