@using Microsoft.AspNetCore.Mvc.TagHelpers
@using LifeCounter.Site.Extensions
@using Index = LifeCounter.Site.Areas.Admin.Pages.Index
@inject SignInManager<IdentityUser> SignInManager

<div>
    <a class="site-header__logo" href="/">
        LifeCounter
    </a>
</div>

<nav class="site-header__right">
    @if (!Context.IsInArea(nameof(Areas.Admin)) && SignInManager.IsSignedIn(User))
    {
        <a class="nav__link" asp-area="Admin" asp-page="@nameof(Index)">admin</a>
    }
    <partial name="_LoginPartial"/>
</nav>