@using LifeCounter.Common.Extensions
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>LifeCounter.Site</title>
    @this.Css("public")
</head>
<body class="public-layout">

<header class="public-header">

</header>

<main class="public-content">
    @RenderBody()
</main>

<footer class="public-footer">

</footer>

@await RenderSectionAsync("Scripts", required: false)
</body>
</html>