@using LifeCounter.Site.Areas.Identity.Pages.Account
@using Microsoft.AspNetCore.Mvc.TagHelpers
@inject SignInManager<IdentityUser> SignInManager

@if (SignInManager.IsSignedIn(User))
{
    <div class="site-header__user">
        @User.Identity.Name
    </div>
}
else
{
    <a class="nav__link" asp-area="Identity" asp-page="@nameof(Register)">register</a>
    <a class="nav__link" asp-area="Identity" asp-page="/Account/Login">log in</a>
}