@using Microsoft.AspNetCore.Mvc.TagHelpers
@inject SignInManager<IdentityUser> SignInManager

@if (SignInManager.IsSignedIn(User))
{
    <a class="tooltip nav__link" asp-area="Identity" asp-page="/Account/Logout">
        @User.Identity.Name
        <div class="tooltip-text">
            Log out
        </div>
    </a>
}
else
{
    <a class="nav__link" asp-area="Identity" asp-page="/Account/Register">register</a>
    <a class="nav__link" asp-area="Identity" asp-page="/Account/Login">log in</a>
}