@page
@model LifeCounter.Site.Areas.Admin.Pages.Widgets.Item

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
<div>
    
</div>
</body>
</html>