@page "{widgetId:guid?}"
@model LifeCounter.Site.Areas.Admin.Pages.Widgets.Item

<form method="post" asp-antiforgery="true" class="widget-form" asp-page-handler="">

    <label asp-for="Form.Title"></label>
    <input asp-for="Form.Title"/>
    @Html.ValidationMessageFor(e => e.Form.Title)

    <label asp-for="Form.PublicId"></label>
    <input asp-for="Form.PublicId"/>
    @Html.ValidationMessageFor(e => e.Form.PublicId)

    <div class="widget-form__buttons">
        <button type="submit" asp->Submit</button>
        @if (Model.Widget != null)
        {
            <button asp-page-handler="delete" type="submit">Delete</button>
        }
    </div>
</form>