@page
@using LifeCounter.Common.Extensions
@model LifeCounter.Site.Pages.Demo

<div class="demo">
    <div class="demo__user-number-wrapper">
        <form id="number-form">
            <label for="user-number">Enter your number</label>
            <input required type="number" id="user-number"/>
            <button>Enter</button>
        </form>
    </div>
    <div class="demo-monitor">
        <p>Active users on current page</p>
        <iframe data-monitor-src="/monitor/dashboard/@Model.DemoWidgetId?page=@Url.Page(nameof(Demo))&ShowForm=false"></iframe>
    </div>
</div>

@section Scripts
{
    @this.Js("demo")
    <script defer src="/widget/script.js?widgetId=@Model.DemoWidgetId"></script>
    <script>
        window.LifeCounterConfig = {
            props: {
    
            },
            onLoaded: function(e) {
              window.DemoCallback(e);
            }
        }
    </script>
}